[Desktop Entry]
Encoding=UTF-8
Name=Tageventor
Comment=Tageventor
Icon=tageventor16x16.png
Exec=/home/andrew/tageventor/trunk/bin/Debug/cpanel
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=tageventor
