[Desktop Entry]
Encoding=UTF-8
Name=Tageventor
Comment=Tageventor
Icon=tageventor48x48.png
Exec=tagEventor -d tray
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-Ubuntu-Gettext-Domain=tageventor
